@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary-color: #2dd4bf;
  --secondary-color: #00e0d4;
  --accent-color: #595e60;
  --background-color: #fff;
  --text-color: #000;
  --hero-background-color: #000;
  --hero-text-color: #fff;
  --header-background-color: #000;
  --header-text-color: #fff; */

  /* 
  --primary-color: #171710;
  --secondary-color: #707370;
  --accent-color: #595e60;
  --background-color: #b0b7c0;
  --text-color: #171710;
  --hero-background-color: #b0b7c0;
  --hero-text-color: #171710;
  --header-background-color: #171710;
  --header-text-color: #b0b7c0;
  --header-hover-color: #171710;
  --footer-background-color: #171710;
  --footer-text-color: #b0b7c0;
  --footer-hover-color: #171710;
  --simmer-color: #e0e0e0; */

  --primary-color: #0000ff;
  --secondary-color: #000c66;
  --background-color: #7ec8e3;
  --border-color: #050a3044;
  --placeholder-color: #050a3073;
  --text-color: #050a30;
  --hero-background-color: #7ec8e3;
  --hero-text-color: #050a30;
  --services-tile-background-color: #050a30;
  --services-tile-text-color: #7ec8e3;
  --header-background-color: #7ec8e3;
  --header-text-color: #050a30;
  --header-hover-color: #000c66;
  --footer-background-color: #7ec8e3;
  --footer-text-color: #050a30;
  --footer-hover-color: #000c66;
  --simmer-color: #e0e0e0;
  --hover-color: #000c66;

  /* --primary-color: #ff651d;
  --secondary-color: #3c1d0f;
  --background-color: #0d0d0d;
  --text-color: #eaf6ff;
  --tint-color: #c8b5a3;
  --border-color: #c8b5a375;
  --placeholder-color: #c8b5a375;
  --simmer-color: #c8b5a375; */

  /* --primary-color: #cf1010;
  --secondary-color: #3c1d0f;
  --background-color: #eaf6ff;
  --background-color: #eaf6ff;
  --header-hover-color: #cf1010;
  --text-color: #0d0d0d;
  --tint-color: #c8b5a3;
  --border-color: #c8b5a375;
  --placeholder-color: #31221a93;
  --simmer-color: #c8b5a375; */

  /* --primary-color: #ff651d;
  --secondary-color: #325359;
  --background-color: #fff;
  --text-color: #343439;
  --tint-color: #c8b5a3; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #00d1ff;
    --secondary-color: #2a2e35;
    --background-color: #1a1c20;
    --hero-bg-color: #000;
    --hero-text-color: #fff;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("./fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("./fonts/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/satoshi/Satoshi-Black.woff2") format("woff2"),
    url("./fonts/satoshi/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
